# databases

POSTGRES_USER=admin
POSTGRES_PASSWORD=your_secure_postgres_password
POSTGRES_DB=whisper_identity_db

MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=your_secure_mongo_password

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=your_secure_minio_password

# backend

BE_JWT_KEY=your_super_secret_production_jwt_key_here
BE_SMTP_USERNAME=your_sendgrid_username
BE_SMTP_PASSWORD=your_sendgrid_password
BE_EMOJI_API_KEY=your_emoji_api_key
BE_KLIPY_API_KEY=your_klipy_api_key
